USE [master]
GO
/****** Object:  Database [QuanLyPhongKhachSan]    Script Date: 11/15/2025 12:02:03 PM ******/
CREATE DATABASE [QuanLyPhongKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPhongKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongKhachSan]
GO
/****** Object:  View [dbo].[v_MoTaCSDL]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_MoTaCSDL] AS
SELECT 
    c.TABLE_NAME,
    c.COLUMN_NAME,
    c.DATA_TYPE,
    c.CHARACTER_MAXIMUM_LENGTH,
    c.IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS c;
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[DanhMuc] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[ThanhTien]  AS ([DonGia]*[SoLuong]),
 CONSTRAINT [PK_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDat] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayNhan] [datetime2](0) NOT NULL,
	[NgayTraDuKien] [datetime2](0) NOT NULL,
	[NgayTraThucTe] [datetime2](0) NULL,
	[TienCoc] [decimal](18, 0) NOT NULL,
	[TienThue] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDat] [int] NOT NULL,
	[MaNV] [int] NULL,
	[NgayLap] [datetime2](0) NOT NULL,
	[LoaiHoaDon] [nvarchar](40) NOT NULL,
	[TongThanhToan] [decimal](18, 0) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](15) NOT NULL,
	[SDT] [varchar](15) NULL,
	[NgayThamGia] [datetime] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHoaDon]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoaDon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaDat] [int] NULL,
	[ThoiGianIn] [datetime2](0) NOT NULL,
	[MaNV] [int] NULL,
	[SoPhong] [nvarchar](max) NULL,
 CONSTRAINT [PK_LichSuHoaDon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NOT NULL,
	[GiaPhong] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](15) NULL,
	[SDT] [varchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[NgayThamGia] [datetime] NULL,
	[TrangThaiHoatDong] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime2](0) NOT NULL,
	[MaNV] [int] NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[HanhDong] [nvarchar](50) NOT NULL,
	[DoiTuong] [nvarchar](50) NULL,
	[KhoaChinh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
	[DuLieuCu] [nvarchar](max) NULL,
	[DuLieuMoi] [nvarchar](max) NULL,
	[KetQua] [bit] NOT NULL,
	[Loi] [nvarchar](1000) NULL,
	[DiaChiIP] [nvarchar](45) NULL,
	[TenMay] [nvarchar](100) NULL,
 CONSTRAINT [PK__NhatKyHe__3214EC07C080B631] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [int] NOT NULL,
	[LoaiPhong] [nvarchar](100) NULL,
	[Gia] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](40) NOT NULL,
	[MaLoaiPhong] [int] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/15/2025 12:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [char](50) NOT NULL,
	[MatKhau] [char](50) NOT NULL,
	[Quyen] [int] NOT NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [DanhMuc], [SoLuong], [DonGia]) VALUES (7, 7, N'Phòng 7 (5 đêm x 500,000) + cọc', 1, CAST(2700000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [DanhMuc], [SoLuong], [DonGia]) VALUES (8, 7, N'Phòng 8 (5 đêm x 300,000) + cọc', 1, CAST(1700000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [DanhMuc], [SoLuong], [DonGia]) VALUES (9, 9, N'Tiền phòng - Phòng 1 (3 đêm x 500,000)', 3, CAST(500000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([MaDat], [MaKH], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe], [TienCoc], [TienThue], [TrangThai]) VALUES (5, 4, 7, CAST(N'2025-11-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-15T10:57:17.0000000' AS DateTime2), CAST(200000 AS Decimal(18, 0)), CAST(2500000 AS Decimal(18, 0)), N'Hoàn thành')
INSERT [dbo].[DatPhong] ([MaDat], [MaKH], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe], [TienCoc], [TienThue], [TrangThai]) VALUES (7, 5, 15, CAST(N'2025-11-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-18T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-15T00:00:00.0000000' AS DateTime2), CAST(200000 AS Decimal(18, 0)), CAST(1500000 AS Decimal(18, 0)), N'Hoàn thành')
INSERT [dbo].[DatPhong] ([MaDat], [MaKH], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe], [TienCoc], [TienThue], [TrangThai]) VALUES (10, 6, 15, CAST(N'2025-11-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-16T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-15T10:58:51.0000000' AS DateTime2), CAST(200000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [MaNV], [NgayLap], [LoaiHoaDon], [TongThanhToan], [GhiChu]) VALUES (7, 5, NULL, CAST(N'2025-11-15T10:57:08.0000000' AS DateTime2), N'Lần 1', CAST(4400000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [MaNV], [NgayLap], [LoaiHoaDon], [TongThanhToan], [GhiChu]) VALUES (8, 5, NULL, CAST(N'2025-11-15T10:57:15.0000000' AS DateTime2), N'Lần 2', CAST(-800000 AS Decimal(18, 0)), N'')
INSERT [dbo].[HoaDon] ([MaHD], [MaDat], [MaNV], [NgayLap], [LoaiHoaDon], [TongThanhToan], [GhiChu]) VALUES (9, 7, NULL, CAST(N'2025-11-15T10:57:46.0000000' AS DateTime2), N'Lần 1', CAST(1700000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [NgayThamGia]) VALUES (1, N'Nguyễn Van B', N'435345345345', N'345342324234', CAST(N'2025-11-15T10:49:49.827' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [NgayThamGia]) VALUES (2, N'Nguyễn Thị Uyên', N'0993983838', N'2345345345', CAST(N'2025-11-15T10:55:56.947' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [NgayThamGia]) VALUES (3, N'Nguyễn Tuấn Phát', N'3924893284', N'4534534543', CAST(N'2025-11-15T10:56:41.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuHoaDon] ON 

INSERT [dbo].[LichSuHoaDon] ([Id], [MaHD], [MaDat], [ThoiGianIn], [MaNV], [SoPhong]) VALUES (7, 7, 5, CAST(N'2025-11-15T10:57:08.0000000' AS DateTime2), 4, N'7 - 8')
INSERT [dbo].[LichSuHoaDon] ([Id], [MaHD], [MaDat], [ThoiGianIn], [MaNV], [SoPhong]) VALUES (8, 8, 5, CAST(N'2025-11-15T10:57:16.0000000' AS DateTime2), 4, N'7 - 8')
INSERT [dbo].[LichSuHoaDon] ([Id], [MaHD], [MaDat], [ThoiGianIn], [MaNV], [SoPhong]) VALUES (9, 9, 7, CAST(N'2025-11-15T10:57:46.0000000' AS DateTime2), 5, N'1')
SET IDENTITY_INSERT [dbo].[LichSuHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (1, N'Phòng đơn', CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (2, N'Phòng đôi', CAST(300000 AS Decimal(18, 0)))
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (3, N'Phòng VIP', CAST(500000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [ChucVu], [NgayThamGia], [TrangThaiHoatDong]) VALUES (1, N'Nguyễn Ngọc Trường Dân', N'075205007509', N'0369255321', N'Admin', CAST(N'2025-09-08T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [ChucVu], [NgayThamGia], [TrangThaiHoatDong]) VALUES (2, N'Nguyễn Ngọc Ánh', N'075204894029', N'0369229292', N'Admin', CAST(N'2025-06-17T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [SDT], [ChucVu], [NgayThamGia], [TrangThaiHoatDong]) VALUES (3, N'Phan Khánh Vương', N'073837263844', N'0988847363', N'Nhân viên', CAST(N'2025-09-14T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] ON 

INSERT [dbo].[NhatKyHeThong] ([Id], [ThoiGian], [MaNV], [TenDangNhap], [HanhDong], [DoiTuong], [KhoaChinh], [MoTa], [DuLieuCu], [DuLieuMoi], [KetQua], [Loi], [DiaChiIP], [TenMay]) VALUES (1, CAST(N'2025-11-15T10:48:50.0000000' AS DateTime2), 3, N'vuong                                             ', N'Thêm', N'Phong', N'1', N'Thêm phòng số 1, loại Phòng đôi', NULL, NULL, 1, NULL, N'192.168.123.142', N'DESKTOP-LIASEBH')
INSERT [dbo].[NhatKyHeThong] ([Id], [ThoiGian], [MaNV], [TenDangNhap], [HanhDong], [DoiTuong], [KhoaChinh], [MoTa], [DuLieuCu], [DuLieuMoi], [KetQua], [Loi], [DiaChiIP], [TenMay]) VALUES (2, CAST(N'2025-11-15T10:48:53.0000000' AS DateTime2), 3, N'vuong                                             ', N'Thêm', N'Phong', N'2', N'Thêm phòng số 2, loại Phòng đơn', NULL, NULL, 1, NULL, N'192.168.123.142', N'DESKTOP-LIASEBH')
INSERT [dbo].[NhatKyHeThong] ([Id], [ThoiGian], [MaNV], [TenDangNhap], [HanhDong], [DoiTuong], [KhoaChinh], [MoTa], [DuLieuCu], [DuLieuMoi], [KetQua], [Loi], [DiaChiIP], [TenMay]) VALUES (3, CAST(N'2025-11-15T10:48:55.0000000' AS DateTime2), 3, N'vuong                                             ', N'Thêm', N'Phong', N'3', N'Thêm phòng số 3, loại Phòng VIP', NULL, NULL, 1, NULL, N'192.168.123.142', N'DESKTOP-LIASEBH')
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Gia], [TrangThai], [MaLoaiPhong]) VALUES (4, 4, NULL, NULL, N'Trống', 1)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Gia], [TrangThai], [MaLoaiPhong]) VALUES (5, 5, NULL, NULL, N'Trống', 3)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Gia], [TrangThai], [MaLoaiPhong]) VALUES (6, 6, NULL, NULL, N'Trống', 2)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (1, N'tem                                               ', N'123                                               ', 1, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (2, N'dan                                               ', N'123                                               ', 1, 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (3, N'anh                                               ', N'123                                               ', 1, 2)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhachHang]    Script Date: 11/15/2025 12:02:03 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [IX_KhachHang] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phong]    Script Date: 11/15/2025 12:02:03 PM ******/
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [IX_Phong] UNIQUE NONCLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_SoLuong]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DatPhong] ADD  CONSTRAINT [DF_DatPhong_TrangThai]  DEFAULT (N'Đã đặt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (sysutcdatetime()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  CONSTRAINT [DF__NhatKyHeT__ThoiG__1D4655FB]  DEFAULT (sysutcdatetime()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  CONSTRAINT [DF__NhatKyHeT__KetQu__1E3A7A34]  DEFAULT ((1)) FOR [KetQua]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [DF_Phong_TrangThai]  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatPhong] FOREIGN KEY([MaDat])
REFERENCES [dbo].[DatPhong] ([MaDat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatPhong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[LichSuHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoaDon_DatPhong] FOREIGN KEY([MaDat])
REFERENCES [dbo].[DatPhong] ([MaDat])
GO
ALTER TABLE [dbo].[LichSuHoaDon] CHECK CONSTRAINT [FK_LichSuHoaDon_DatPhong]
GO
ALTER TABLE [dbo].[LichSuHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[LichSuHoaDon] CHECK CONSTRAINT [FK_LichSuHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[LichSuHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichSuHoaDon] CHECK CONSTRAINT [FK_LichSuHoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhatKyHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHeThong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhatKyHeThong] CHECK CONSTRAINT [FK_NhatKyHeThong_NhanVien]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong] CHECK  (([NgayTraDuKien]>[NgayNhan]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_Loai] CHECK  (([LoaiHoaDon]=N'Lần 2' OR [LoaiHoaDon]=N'Lần 1'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_Loai]
GO
USE [master]
GO
